.learnmore{
    display: inline-flex;
    text-decoration: none;
    width: 154px;
    height: 38px;
    border-radius: 17px;
    background-color: #ffffff;   
    border-width: 0px;
    font-family: Lato;
    font-size: 16px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #779a8b; 
    text-align: center;
    align-items: center;
    justify-content: center;
}



