.title{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.title h1{
   position: relative; 
   font-size: 80px;
   color: #e9edee;
   font-family: 'Open Sans', sans-serif;
   
}

.title h2{
   position: absolute; 
   color: #81988a;
   font-size: 34px;
   font-family: 'Open Sans', sans-serif;
}