h2 a{
    width: 153px;
    height: 36px;
    font-family: 'Lato', sans-serif;
    font-size: 1.875rem;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    font-size: 40px;
    text-decoration: none;
    color: white;
}

.imglogo{
    display: none;
}

@media (max-width: 980px) { 
    .imglogo{
        display: inline-block;
        width: 55px;
        height: 55px;
    }
    
}
