.cards{
    
    display: inline-flex;
    width: 220px;
    height: 312px;
    box-shadow: 0px 0px 3px  #dfdee2;
    padding: 23px 22px;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin-bottom: 20px;
}

.cards div{
    
    height: 67px;
    width: 67px;
    border-radius: 100%;
    background-color: #fbf5d5;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.cards div i{
    color: #ccad2a;
    font-size: 27px;
}

.titlecard{
    color: #81998b;
    margin-top: 20px;
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.cards p{
    width: 176px;
    height: 140px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4f4f4f;
}


