.socialicons{
    height: 36px;
    width: 36px;
    border-radius: 100%;
    background-color:white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 33px 5px;
}

.socialicons a{
    color: #7380be;
    text-decoration: none;
    height: 15px;
    width: 19px;
}

.socialicons a i{
    display: inline-block;
    color: #7380be;
    height: 15px;
    width: 19px;
}