.header{
    display: flex;
    justify-content: center;
    width: 100%; 
}

.header .module{
    background-color: #7380be;
    height: 1637px;
    width: 100%;
    position: absolute;
    z-index:0;
    top: -1108px;
    left: auto;
    border-bottom-right-radius: 1000px;
    right: 6%;
}

.headercontent{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 940px; 
    z-index: 100;
}

.left{
    height: 100%;
}

.left h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    padding-bottom: 13px;
}

.left h1{
    padding-bottom: 66px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.9375rem;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;

}

.mandacaruimg{
    height: 416px;
    width: 272px;
    margin-bottom: 8px;
}


@media (max-width: 980px) { 
    .mandacaruimg{
        display: none;
    }

    .header .module{
        right: 0%;
        top: -1300px;
        border-bottom-right-radius: 280px;
    }
    .left{
        padding: 5px 15px;
        margin-bottom: 1rem
    }
    .left h1{
        padding-bottom: 30px;
    }
}

@media (max-width: 576px) { 
    .header{
        margin-bottom: 2rem;
        background-color: #7380be;
        padding: 20px 0px;
    }
    .header .module{
        display: none
    }
}

@media (max-width: 470px) {
    
   
}

@media (max-width: 395px) { 
    
    
}


