.header{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0px 250px;
    width: 1440px;
    margin: 0px;
    height: 100%;
    background-color: #7380be;

}

.left{
      height: 100%;
}

.left h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    padding-bottom: 13px;
}

.left h1{
    padding-bottom: 66px;
    font-family: 'Open Sans', sans-serif;
    font-size: 31px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;

}

img{
    height: 416px;
    width: 272px;
    margin-bottom: 8px;
       
}