.ovalheader{
    /*background-image: radial-gradient(to top,blue, white);*/
    background-color: #7380be;
    color: white;
    border-bottom-right-radius: 3000px;
    width: 100%;
    height: 529px;
    margin-right: 65%;   
  
   
  
}